{:require [foo.main]
 :init-fns []
 :boot-reload {:on-jsload foo.main/on-js-reload}
 :compiler-options
 {:target :nodejs
  :optimizations :none
  :pretty-print true
  :static-fns true
  :language-in :ecmascript5
  :source-map true}}
